# Libraries

In [2]:
from pyspark.sql import SparkSession, window
from delta import configure_spark_with_delta_pip

# Spark Session

In [3]:
builder = SparkSession.builder.config(
    "spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension"
).config(
    "spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog"
)


spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [4]:
mydf = spark.sql(
    """
select 5 as col1, 6 as col2 union select 7 as col1, 8 as col2;
"""
)

In [5]:
# mydf.write.format('delta').mode('overwrite').save("./output/testdeltatable")

In [6]:
dtname = "delta.`F:\\development\\learn_spark\\output\\testdeltatable`"

spark.sql(f"describe history {dtname};").show(truncate=False)

+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                   |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|2      |2024-01-19 22:09:22.127|NULL  |NULL    |RESTORE  |{version -> 0, timestamp -> NULL}     |NULL|NULL    |NULL     |1          |Serializable  |false        |{numRestoredFiles -> 1, removedFilesSize -> 692, numRemovedFiles -> 1, restoredFilesSize -> 692, numOfFilesAfterRestore -> 1, tableSizeAfterRestore -> 692}|NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|1      |2024-01-19 22:04:25.781|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}|NULL|NULL    |NULL     |0          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 2, numOutputBytes -> 692}                                                                                                 |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|0      |2024-01-19 22:04:11.99 |NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}|NULL|NULL    |NULL     |NULL       |Serializable  |false        |{numFiles -> 1, numOutputRows -> 2, numOutputBytes -> 692}                                                                                                 |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

# Fetch Specific Version from delta

In [7]:
spark.read.format("delta").option("versionAsOf", 0).load(
    "./output/testdeltatable/"
).show()

+----+----+
|col1|col2|
+----+----+
|   1|   2|
|   3|   4|
+----+----+

In [8]:
spark.sql(f"select * from {dtname} VERSION AS OF 1;").show(truncate=False)

+----+----+
|col1|col2|
+----+----+
|5   |6   |
|7   |8   |
+----+----+

# Roll back delta table

In [9]:
spark.sql(f"RESTORE TABLE {dtname} VERSION AS OF 0;").show(truncate=False)


# from delta.tables import *
# deltaTable = DeltaTable.forPath(spark, "/path/to/delta/table/")

# deltaTable.restoreToVersion(5)

+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+
|table_size_after_restore|num_of_files_after_restore|num_removed_files|num_restored_files|removed_files_size|restored_files_size|
+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+
|692                     |1                         |0                |0                 |0                 |0                  |
+------------------------+--------------------------+-----------------+------------------+------------------+-------------------+

In [10]:
spark.sql(f"describe history {dtname};").show(truncate=False)

+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                   |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                           |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|3      |2024-01-19 22:13:54.838|NULL  |NULL    |RESTORE  |{version -> 0, timestamp -> NULL}     |NULL|NULL    |NULL     |2          |Serializable  |false        |{numRestoredFiles -> 0, removedFilesSize -> 0, numRemovedFiles -> 0, restoredFilesSize -> 0, numOfFilesAfterRestore -> 1, tableSizeAfterRestore -> 692}    |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|2      |2024-01-19 22:09:22.127|NULL  |NULL    |RESTORE  |{version -> 0, timestamp -> NULL}     |NULL|NULL    |NULL     |1          |Serializable  |false        |{numRestoredFiles -> 1, removedFilesSize -> 692, numRemovedFiles -> 1, restoredFilesSize -> 692, numOfFilesAfterRestore -> 1, tableSizeAfterRestore -> 692}|NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|1      |2024-01-19 22:04:25.781|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}|NULL|NULL    |NULL     |0          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 2, numOutputBytes -> 692}                                                                                                 |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|0      |2024-01-19 22:04:11.99 |NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}|NULL|NULL    |NULL     |NULL       |Serializable  |false        |{numFiles -> 1, numOutputRows -> 2, numOutputBytes -> 692}                                                                                                 |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
+-------+-----------------------+------+--------+---------+--------------------------------------+----+--------+---------+-----------+--------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

In [11]:
spark.sql(f"select * from {dtname} VERSION AS OF 0;").show(truncate=False)

+----+----+
|col1|col2|
+----+----+
|1   |2   |
|3   |4   |
+----+----+

# Delta table merge

In [16]:
users_delta = (
    spark.read.format("delta").option("versionAsOf", 1).load("./output/users_df")
)
users_updated_delta = (
    spark.read.format("delta")
    .option("versionAsOf", 1)
    .load("./output/users_updated_df")
)

In [17]:
users_delta.show()
users_updated_delta.show()

+---+--------+--------------+-----+
| id|username|         email|phone|
+---+--------+--------------+-----+
|  1|    john|john@gmail.com|12345|
|  2|    jane|jane@gmail.com|45645|
|  3|    rick|rick@gmail.com|78678|
+---+--------+--------------+-----+

+---+--------+----------------+-----+
| id|username|           email|phone|
+---+--------+----------------+-----+
|  1|    john|  john@gmail.com|    0|
|  2|    jane|jane02@gmail.com|12345|
|  3|    rick|  rick@gmail.com|78678|
|  4|    mike|  mike@gmail.com| 9787|
+---+--------+----------------+-----+

In [ ]:
users_table = "delta.`F:\\development\\learn_spark\\output\\users_df`"
users_updated_table = "delta.`F:\\development\\learn_spark\\output\\users_updated_df`"

In [24]:
spark.sql(
    f"""

insert into {users_updated_table} (id, username, email, phone)
    VALUES (
        5,
        'some new name',
        'somenewemail@fasdas.com',
        55667
    );

"""
)

DataFrame[]

In [25]:
spark.sql(
    f"""

  MERGE INTO {users_table} as users
  USING {users_updated_table} as usersupd
  ON users.id = usersupd.id
  WHEN MATCHED THEN
    UPDATE SET
      id = usersupd.id,
      username = usersupd.username,
      email = usersupd.email,
      phone = usersupd.phone
  WHEN NOT MATCHED
    THEN INSERT (
      id,
      username,
      email,
      phone
    )
    VALUES (
        usersupd.id,
        usersupd.username,
        usersupd.email,
        usersupd.phone
    );

    """
).show(truncate=False)

+-----------------+----------------+----------------+-----------------+
|num_affected_rows|num_updated_rows|num_deleted_rows|num_inserted_rows|
+-----------------+----------------+----------------+-----------------+
|5                |4               |0               |1                |
+-----------------+----------------+----------------+-----------------+

In [26]:
spark.sql(f"select * from {users_table};").show(truncate=False)

+---+-------------+-----------------------+-----+
|id |username     |email                  |phone|
+---+-------------+-----------------------+-----+
|1  |john         |john@gmail.com         |0    |
|2  |jane         |jane02@gmail.com       |12345|
|3  |rick         |rick@gmail.com         |78678|
|4  |mike         |mike@gmail.com         |9787 |
|5  |some new name|somenewemail@fasdas.com|55667|
+---+-------------+-----------------------+-----+

In [27]:
spark.sql(f"describe history {users_table};").show(truncate=False)

+-------+-----------------------+------+--------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                                                                                                                                                            |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|14     |2024-01-19 22:21:50.527|NULL  |NULL    |MERGE    |{predicate -> ["(id#16978 = id#16982)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |13         |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1359, numTargetBytesRemoved -> 1277, numTargetRowsMatchedUpdated -> 4, executionTimeMs -> 586, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 294, numTargetRowsUpdated -> 4, numOutputRows -> 5, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 5, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 288}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|13     |2024-01-19 22:19:18.99 |NULL  |NULL    |MERGE    |{predicate -> ["(id#14437 = id#14441)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |12         |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1277, numTargetBytesRemoved -> 1277, numTargetRowsMatchedUpdated -> 4, executionTimeMs -> 689, numTargetRowsInserted -> 0, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 417, numTargetRowsUpdated -> 4, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 268}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|12     |2024-01-19 22:19:09.596|NULL  |NULL    |MERGE    |{predicate -> ["(id#11396 = id#11422)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |11         |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1277, numTargetBytesRemoved -> 1277, numTargetRowsMatchedUpdated -> 4, executionTimeMs -> 2285, numTargetRowsInserted -> 0, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 1824, numTargetRowsUpdated -> 4, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 454} |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|11     |2024-01-16 13:05:29.309|NULL  |NULL    |MERGE    |{predicate -> ["(id#21931 = id#21939)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |10         |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1277, numTargetBytesRemoved -> 1245, numTargetRowsMatchedUpdated -> 3, executionTimeMs -> 1484, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 1113, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 366} |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|10     |2024-01-16 13:05:24.488|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |9          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1245}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|9      |2024-01-15 14:00:44.922|NULL  |NULL    |MERGE    |{predicate -> ["(id#15545 = id#15553)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |8          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1277, numTargetBytesRemoved -> 1245, numTargetRowsMatchedUpdated -> 3, executionTimeMs -> 900, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 520, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 375}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|8      |2024-01-15 14:00:41.488|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |7          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1245}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|7      |2024-01-06 15:44:41.255|NULL  |NULL    |MERGE    |{predicate -> ["(id#14684 = id#14692)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |6          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1277, numTargetBytesRemoved -> 1245, numTargetRowsMatchedUpdated -> 3, executionTimeMs -> 2842, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 1456, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 1378}|NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|6      |2024-01-06 15:44:31.743|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |5          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1245}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|5      |2024-01-02 16:06:30.303|NULL  |NULL    |MERGE    |{predicate -> ["(id#37378 = id#37386)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |4          |Serializable  |false        |{numTargetRowsCopied -> 1, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1355, numTargetBytesRemoved -> 1355, numTargetRowsMatchedUpdated -> 4, executionTimeMs -> 606, numTargetRowsInserted -> 0, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 350, numTargetRowsUpdated -> 4, numOutputRows -> 5, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 253}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|4      |2024-01-02 16:06:21.966|NULL  |NULL    |MERGE    |{predicate -> ["(id#37378 = id#37386)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |3          |Serializable  |false        |{numTargetRowsCopied -> 1, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1355, numTargetBytesRemoved -> 1273, numTargetRowsMatchedUpdated -> 3, executionTimeMs -> 729, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 426, numTargetRowsUpdated -> 3, numOutputRows -> 5, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 301}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|3      |2024-01-02 16:04:45.596|NULL  |NULL    |MERGE    |{predicate -> ["(id#37378 = id#37386)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|NULL|NULL    |NULL     |2          |Serializable  |false        |{numTargetRowsCopied -> 0, numTargetRowsDeleted -> 0, numTargetFilesAdded -> 1, numTargetBytesAdded -> 1273, numTargetBytesRemoved -> 1245, numTargetRowsMatchedUpdated -> 3, executionTimeMs -> 998, numTargetRowsInserted -> 1, numTargetRowsMatchedDeleted -> 0, scanTimeMs -> 569, numTargetRowsUpdated -> 3, numOutputRows -> 4, numTargetRowsNotMatchedBySourceUpdated -> 0, numTargetChangeFilesAdded -> 0, numSourceRows -> 4, numTargetFilesRemoved -> 1, numTargetRowsNotMatchedBySourceDeleted -> 0, rewriteTimeMs -> 424}   |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|2      |2024-01-02 16:03:54.029|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |1          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1245}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|1      |2024-01-02 16:01:05.143|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |0          |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1245}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|0      |2024-01-02 15:20:29.552|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |NULL|NULL    |NULL     |NULL       |Serializable  |false        |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 1277}                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
+-------+-----------------------+------+--------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+