# Libraries

In [174]:
from delta import configure_spark_with_delta_pip
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import (
    col,
    substring,
    input_file_name,
    current_date,
    year,
    like,
    asc,
    desc,
    count,
    count_distinct,
    max,
    min,
    avg,
    array_agg,
    array_distinct,
    array_contains,
    row_number,
    rank,
    dense_rank,
    ntile,
    sum,
    lead,
    lag,
    cume_dist,
)


from pyspark.sql.types import (
    IntegerType,
    LongType,
    StructField,
    StructType,
    DateType,
    DoubleType,
    StringType,
    TimestampType,
)

# Spark Session

In [125]:
builder = SparkSession.builder.config(
    "spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension"
).config(
    "spark.sql.catalog.spark_catalog",
    "org.apache.spark.sql.delta.catalog.DeltaCatalog",
)
spark = configure_spark_with_delta_pip(builder).getOrCreate()

# Loading Data into spark

In [126]:
my_user_schema = StructType(
    [
        StructField("index", IntegerType(), nullable=False),
        StructField("organization_id", StringType(), nullable=False),
        StructField("name", StringType(), nullable=False),
        StructField("website", StringType(), nullable=False),
        StructField("country", StringType(), nullable=False),
        StructField("description", StringType(), nullable=False),
        StructField("founded", IntegerType(), nullable=False),
        StructField("industry", StringType(), nullable=False),
        StructField("employee_no", IntegerType(), nullable=False),
    ]
)

users_df = (
    spark.read.option("header", True)
    .schema(my_user_schema)
    .csv("./datasets/organizations-2000000.csv")
)


click_data_schema = StructType(
    [
        StructField("session_id", IntegerType(), nullable=False),
        StructField("IPID", IntegerType(), nullable=False),
        StructField("timestamp", TimestampType(), nullable=False),
        StructField("VHOST", StringType(), nullable=False),
        StructField("URL_FILE", StringType(), nullable=False),
        StructField("PAGE_NAME", StringType(), nullable=False),
        StructField("REF_URL_category", StringType(), nullable=False),
        StructField("page_load_error", IntegerType(), nullable=False),
        StructField("page_action_detail", StringType(), nullable=False),
        StructField("tip", StringType(), nullable=False),
        StructField("service_detail", StringType(), nullable=False),
        StructField("xps_info", StringType(), nullable=False),
        StructField("page_action_detail_EN", StringType(), nullable=False),
        StructField("service_detail_EN", StringType(), nullable=False),
        StructField("tip_EN", StringType(), nullable=False),
    ]
)

click_data_df = (
    spark.read.option("header", True)
    .option("delimiter", ";")
    .schema(click_data_schema)
    .csv("./datasets/BPI2016_Clicks_NOT_Logged_In.csv")
)

# Converting dataframes to delta tables

In [127]:
# users_df.write.mode("overwrite").format("delta").save("./output/users_df_delta")
# click_data_df.write.mode("overwrite").format("delta").save(
#     "./output/click_data_df_delta"
# )

# Querying delta tables

In [128]:
spark.sql(
    """
DESCRIBE HISTORY delta.`D:\\development\\learn_spark\\output\\users_df_delta`;
"""
).show()


spark.sql(
    """
DESCRIBE HISTORY delta.`D:\\development\\learn_spark\\output\\click_data_df_delta`;
"""
).show()

+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+
|version|           timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|   isolationLevel|isBlindAppend|    operationMetrics|userMetadata|          engineInfo|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+
|      1|2024-01-17 14:01:...|  NULL|    NULL| OPTIMIZE|{predicate -> [],...|NULL|    NULL|     NULL|          0|SnapshotIsolation|        false|{numRemovedFiles ...|        NULL|Apache-Spark/3.5....|
|      0|2024-01-17 13:54:...|  NULL|    NULL|    WRITE|{mode -> Overwrit...|NULL|    NULL|     NULL|       NULL|     Serializable|        false|{numFiles -> 8, n...|        NULL|Apache-Spark/3.5....|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+

+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+
|version|           timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|   isolationLevel|isBlindAppend|    operationMetrics|userMetadata|          engineInfo|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+
|      1|2024-01-17 14:03:...|  NULL|    NULL| OPTIMIZE|{predicate -> [],...|NULL|    NULL|     NULL|          0|SnapshotIsolation|        false|{numRemovedFiles ...|        NULL|Apache-Spark/3.5....|
|      0|2024-01-17 13:54:...|  NULL|    NULL|    WRITE|{mode -> Overwrit...|NULL|    NULL|     NULL|       NULL|     Serializable|        false|{numFiles -> 9, n...|        NULL|Apache-Spark/3.5....|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+-----------------+-------------+--------------------+------------+--------------------+

# Performing EDA on data

In [129]:
spark.read.format("delta").load("./output/click_data_df_delta/").printSchema()
spark.read.format("delta").load("./output/click_data_df_delta/").show(5)

spark.read.format("delta").load("./output/users_df_delta/").printSchema()
spark.read.format("delta").load("./output/users_df_delta/").show(5)

root
 |-- session_id: integer (nullable = true)
 |-- IPID: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- VHOST: string (nullable = true)
 |-- URL_FILE: string (nullable = true)
 |-- PAGE_NAME: string (nullable = true)
 |-- REF_URL_category: string (nullable = true)
 |-- page_load_error: integer (nullable = true)
 |-- page_action_detail: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- service_detail: string (nullable = true)
 |-- xps_info: string (nullable = true)
 |-- page_action_detail_EN: string (nullable = true)
 |-- service_detail_EN: string (nullable = true)
 |-- tip_EN: string (nullable = true)

+----------+-------+--------------------+-------------+--------------------+------------------+----------------+---------------+------------------+----+--------------+--------------------+---------------------+-----------------+------+
|session_id|   IPID|           timestamp|        VHOST|            URL_FILE|         PAGE_NAME|REF_URL_category|page_load_error|page_action_detail| tip|service_detail|            xps_info|page_action_detail_EN|service_detail_EN|tip_EN|
+----------+-------+--------------------+-------------+--------------------+------------------+----------------+---------------+------------------+----+--------------+--------------------+---------------------+-----------------+------+
|  43581744| 849196|2015-12-23 10:23:...|  www.werk.nl|  /xpsitem/ptl260281|         ptl260281|            NULL|              0|              NULL|NULL|          NULL|download_model_ar...|                 NULL|             NULL|  NULL|
|  41683444|2110820|2015-12-15 12:30:...|  www.werk.nl|/werk_nl/werkneme...|              home|      Logged Out|              0|              NULL|NULL|          NULL|                NULL|                 NULL|             NULL|  NULL|
|  39411578|1651304|2015-12-15 10:53:...|  www.werk.nl|/werk_nl/werkneme...|         vacatures|            NULL|              0|              NULL|NULL|          NULL|                NULL|                 NULL|             NULL|  NULL|
|  39122892|   5121|2015-12-16 14:33:...|  www.werk.nl|//werk_nl/werknem...|       inschrijven|             UWV|              0|              NULL|NULL|          NULL|                NULL|                 NULL|             NULL|  NULL|
|  41017721| 428116|2016-01-04 11:59:...|digid.werk.nl|/portal/page/port...|aanvragen-bijstand|            NULL|              0|              NULL|NULL|1. Uw situatie|                NULL|                 NULL|1. Your situation|  NULL|
+----------+-------+--------------------+-------------+--------------------+------------------+----------------+---------------+------------------+----+--------------+--------------------+---------------------+-----------------+------+
only showing top 5 rows

root
 |-- index: integer (nullable = true)
 |-- organization_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- website: string (nullable = true)
 |-- country: string (nullable = true)
 |-- description: string (nullable = true)
 |-- founded: integer (nullable = true)
 |-- industry: string (nullable = true)
 |-- employee_no: integer (nullable = true)

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+-----------+
|index|organization_id|                name|             website|             country|         description|founded|           industry|employee_no|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+-----------+
|    1|391dAA77fea9EC1|      Daniel-Mcmahon|https://stuart-ri...|            Cambodia|Focused eco-centr...|   2013|             Sports|       1878|
|    2|9FcCA4A23e6BcfA|Mcdowell, Tate an...|  http://jacobs.biz/|              Guyana|Front-line real-t...|   2018|     Legal Services|       9743|
|    3|DB23330238B7B3D|Roberts, Carson a...|http://www.park.com/|              Jordan|Innovative hybrid...|   1992|        Hospitality|       7537|
|    4|bbf18835CFbEee7|Poole, Jefferson ...|  http://hayden.com/|Cocos (Keeling) I...|Extended regional...|   1991|    Food Production|       9974|
|    5|74ECD725ceaDfd9|Ritter, Patel and...|https://www.mason...|             Ecuador|Re-contextualized...|   2019|Computer Networking|       5050|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+-----------+
only showing top 5 rows

## Optimizations

1. In first dataset it is a good choice to z-order the dataset by page name so the records corresponding to the same page are co-located
2. In the second dataset the same logic as point 1 is there for the country attribute.

In [130]:
# spark.sql(
#     """
# OPTIMIZE delta.`D:\\development\\learn_spark\\output\\users_df_delta` ZORDER BY (country);
# """
# ).show()
# spark.sql(
#     """
# OPTIMIZE delta.`D:\\development\\learn_spark\\output\\click_data_df_delta` ZORDER BY (PAGE_NAME);
# """
# ).show()

In [131]:
spark.sql(
    """
DESCRIBE HISTORY delta.`D:\\development\\learn_spark\\output\\users_df_delta`;
"""
).show(truncate=False)


spark.sql(
    """
DESCRIBE HISTORY delta.`D:\\development\\learn_spark\\output\\click_data_df_delta`;
"""
).show(truncate=False)

+-------+-----------------------+------+--------+---------+------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                       |job |notebook|clusterId|readVersion|isolationLevel   |isBlindAppend|operationMetrics                                                                                                                                                                                                                                                      |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|1      |2024-01-17 14:01:47.535|NULL  |NULL    |OPTIMIZE |{predicate -> [], zOrderBy -> ["country"]}|NULL|NULL    |NULL     |0          |SnapshotIsolation|false        |{numRemovedFiles -> 8, numRemovedBytes -> 120336344, p25FileSize -> 120941341, numDeletionVectorsRemoved -> 0, minFileSize -> 120941341, numAddedFiles -> 1, maxFileSize -> 120941341, p75FileSize -> 120941341, p50FileSize -> 120941341, numAddedBytes -> 120941341}|NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|0      |2024-01-17 13:54:01.032|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}    |NULL|NULL    |NULL     |NULL       |Serializable     |false        |{numFiles -> 8, numOutputRows -> 2000000, numOutputBytes -> 120336344}                                                                                                                                                                                                |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
+-------+-----------------------+------+--------+---------+------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

+-------+-----------------------+------+--------+---------+--------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation|operationParameters                         |job |notebook|clusterId|readVersion|isolationLevel   |isBlindAppend|operationMetrics                                                                                                                                                                                                                                                      |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------+--------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|1      |2024-01-17 14:03:49.142|NULL  |NULL    |OPTIMIZE |{predicate -> [], zOrderBy -> ["PAGE_NAME"]}|NULL|NULL    |NULL     |0          |SnapshotIsolation|false        |{numRemovedFiles -> 9, numRemovedBytes -> 154394588, p25FileSize -> 157316493, numDeletionVectorsRemoved -> 0, minFileSize -> 157316493, numAddedFiles -> 1, maxFileSize -> 157316493, p75FileSize -> 157316493, p50FileSize -> 157316493, numAddedBytes -> 157316493}|NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
|0      |2024-01-17 13:54:37.775|NULL  |NULL    |WRITE    |{mode -> Overwrite, partitionBy -> []}      |NULL|NULL    |NULL     |NULL       |Serializable     |false        |{numFiles -> 9, numOutputRows -> 9329418, numOutputBytes -> 154394588}                                                                                                                                                                                                |NULL        |Apache-Spark/3.5.0 Delta-Lake/3.0.0|
+-------+-----------------------+------+--------+---------+--------------------------------------------+----+--------+---------+-----------+-----------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

# Loading delta tables in spark dataframe

In [132]:
user_delta_table_v1 = (
    spark.read.format("delta").option("versionAsOf", 0).load("./output/users_df_delta/")
)
user_delta_table_v2 = (
    spark.read.format("delta").option("versionAsOf", 1).load("./output/users_df_delta/")
)

In [133]:
user_delta_table_v2.createOrReplaceTempView("user_delta_table_v2_tv")

In [134]:
user_delta_table_v2.show(2, vertical=True, truncate=False)

-RECORD 0----------------------------------------
 index           | 1
 organization_id | 391dAA77fea9EC1
 name            | Daniel-Mcmahon
 website         | https://stuart-rios.biz/
 country         | Cambodia
 description     | Focused eco-centric help-desk
 founded         | 2013
 industry        | Sports
 employee_no     | 1878
-RECORD 1----------------------------------------
 index           | 2
 organization_id | 9FcCA4A23e6BcfA
 name            | Mcdowell, Tate and Murray
 website         | http://jacobs.biz/
 country         | Guyana
 description     | Front-line real-time portal
 founded         | 2018
 industry        | Legal Services
 employee_no     | 9743
only showing top 2 rows

# Perfrom Group By and aggregations

In [135]:
# spark.sql(
#     """
#     SELECT
#     name,
#     count(distinct country) as distinct_country_count,
#     count(distinct employee_no) as distinct_no_of_employees
#     from user_delta_table_v2_tv
#     group by name
#     order by distinct_no_of_employees desc;
#     """
# ).show(5)


spark.sql(
    """
    SELECT
    
    employee_no,
    count(employee_no) as employee_count,
    array_distinct(array_agg(country)) as country_list,
    array_contains(array_agg(country), 'India') as contains_india

    from user_delta_table_v2_tv 
    group by employee_no
    order by employee_count desc;
    """
).show(5)


# spark.sql(
#     """
#     SELECT * from user_delta_table_v2_tv where name like '%Bradley PLC%';
#     """
# ).show(5)

+-----------+--------------+--------------------+--------------+
|employee_no|employee_count|        country_list|contains_india|
+-----------+--------------+--------------------+--------------+
|       4846|           261|[Samoa, Malta, Ja...|          true|
|       2384|           251|[Slovakia (Slovak...|          true|
|       3390|           250|[Rwanda, Uruguay,...|         false|
|       1589|           249|[Iran, Puerto Ric...|          true|
|       1961|           247|[Macedonia, Malay...|         false|
+-----------+--------------+--------------------+--------------+
only showing top 5 rows

In [136]:
user_delta_table_v2.groupBy("employee_no").agg(
    count(user_delta_table_v2.employee_no).alias("employee_no_count"),
    array_distinct(array_agg(user_delta_table_v2.country)).alias(
        "distinct_country_list"
    ),
    array_contains(array_agg(user_delta_table_v2.country), "India").alias(
        "is_india_a_part"
    ),
    avg(user_delta_table_v2.employee_no).alias("average_employees"),
).sort(desc("employee_no_count")).show(5)

+-----------+-----------------+---------------------+---------------+-----------------+
|employee_no|employee_no_count|distinct_country_list|is_india_a_part|average_employees|
+-----------+-----------------+---------------------+---------------+-----------------+
|       4846|              261| [Samoa, Malta, Ja...|           true|           4846.0|
|       2384|              251| [Slovakia (Slovak...|           true|           2384.0|
|       3390|              250| [Rwanda, Uruguay,...|          false|           3390.0|
|       1589|              249| [Iran, Puerto Ric...|           true|           1589.0|
|       7828|              247| [Saint Vincent an...|           true|           7828.0|
+-----------+-----------------+---------------------+---------------+-----------------+
only showing top 5 rows

# Windowing on data

In [163]:
ds_salaries_df = spark.read.options(header=True, inferSchema=True).csv(
    "./datasets/ds_salaries.csv"
)
ds_salaries_df.createOrReplaceTempView("ds_salaries_tv")

## Available functions

- Simple aggregation functions: avg, sum, min, max, count
- Row-wise ordering and ranking functions: row_number, rank, dense_rank, percent_rank, ntile (divides data into n buckets)
- Creating lagged columns: lag, lead
- Combining Windows and Calling Functions: over
- Analytic functions: cume_dist, first_value, last_value, nth_value
- Aggregate functions: collect_list, collect_set, corr, covar_pop, covar_samp, stddev, stddev_pop, stddev_samp, variance, var_pop, var_samp

In [197]:
spark.sql(
    """
select 
tab.*,
ROW_NUMBER() OVER(PARTITION BY job_title ORDER BY salary) as row_no,
RANK() OVER(PARTITION BY job_title ORDER BY salary) as rank,
dense_rank() OVER(PARTITION BY job_title ORDER BY salary) as dense_rank,
PERCENT_RANK() OVER(PARTITION BY job_title ORDER BY salary) as percent_rank,
NTILE(3) OVER(PARTITION BY job_title ORDER BY salary) as ntile,
lead(salary, 1, 404) OVER(PARTITION BY job_title ORDER BY salary) as lead,
lag(salary, 1, 404) OVER(PARTITION BY job_title ORDER BY salary) as lag,

avg(salary) OVER(PARTITION BY job_title ORDER BY salary) as avg,
min(salary) OVER(PARTITION BY job_title ORDER BY salary) as min,
max(salary) OVER(PARTITION BY job_title ORDER BY salary) as max,
sum(salary) OVER(PARTITION BY job_title ORDER BY salary) as sum,
cume_dist() OVER(PARTITION BY job_title ORDER BY salary) as cumdist
from ds_salaries_tv as tab;
"""
).show(5)

+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+------+----+----------+------------------+-----+------+-----+------------------+------+------+------+-------------------+
|_c0|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|row_no|rank|dense_rank|      percent_rank|ntile|  lead|  lag|               avg|   min|   max|   sum|            cumdist|
+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+------+----+----------+------------------+-----+------+-----+------------------+------+------+------+-------------------+
| 77|     2021|              MI|             PT|3D Computer Visio...|400000|            INR|         5409|                IN|          50|              IN|           M|     1|   1|         1|               0.0|    1|   404|  404|          400000.0|400000|400000|400000|                1.0|
| 96|     2021|              EN|             PT|        AI Scientist| 12000|            USD|        12000|                BR|         100|              US|           S|     1|   1|         1|               0.0|    1| 12000|  404|           12000.0| 12000| 12000| 24000| 0.2857142857142857|
|113|     2021|              EN|             PT|        AI Scientist| 12000|            USD|        12000|                PK|         100|              US|           M|     2|   1|         1|               0.0|    1| 55000|12000|           12000.0| 12000| 12000| 24000| 0.2857142857142857|
|277|     2021|              SE|             FT|        AI Scientist| 55000|            USD|        55000|                ES|         100|              ES|           L|     3|   3|         2|0.3333333333333333|    1|120000|12000|26333.333333333332| 12000| 55000| 79000|0.42857142857142855|
|391|     2022|              MI|             FT|        AI Scientist|120000|            USD|       120000|                US|           0|              US|           M|     4|   4|         3|               0.5|    2|200000|55000|           49750.0| 12000|120000|199000| 0.5714285714285714|
+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+------+----+----------+------------------+-----+------+-----+------------------+------+------+------+-------------------+
only showing top 5 rows

In [182]:
windowSpec = Window.partitionBy("job_title").orderBy("salary")


ds_salaries_df.withColumn("row_number", row_number().over(windowSpec)).withColumn(
    "rank", rank().over(windowSpec)
).withColumn("dense_rank", dense_rank().over(windowSpec)).withColumn(
    "avg", avg(col("salary")).over(windowSpec)
).withColumn(
    "min", min(col("salary")).over(windowSpec)
).withColumn(
    "max", max(col("salary")).over(windowSpec)
).withColumn(
    "sum", sum(col("salary")).over(windowSpec)
).withColumn(
    "lead", lead("salary", 2).over(windowSpec)
).withColumn(
    "lag", lag("salary", 2).over(windowSpec)
).withColumn(
    "cume_dist", cume_dist().over(windowSpec)
).show(
    50
)

+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+----------+----+----------+------------------+------+--------+--------+--------+------+-------------------+
|_c0|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|row_number|rank|dense_rank|               avg|   min|     max|     sum|    lead|   lag|          cume_dist|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+----------+----+----------+------------------+------+--------+--------+--------+------+-------------------+
| 77|     2021|              MI|             PT|3D Computer Visio...|  400000|            INR|         5409|                IN|          50|              IN|           M|         1|   1|         1|          400000.0|400000|  400000|  400000|    NULL|  NULL|                1.0|
| 96|     2021|              EN|             PT|        AI Scientist|   12000|            USD|        12000|                BR|         100|              US|           S|         1|   1|         1|           12000.0| 12000|   12000|   24000|   55000|  NULL| 0.2857142857142857|
|113|     2021|              EN|             PT|        AI Scientist|   12000|            USD|        12000|                PK|         100|              US|           M|         2|   1|         1|           12000.0| 12000|   12000|   24000|  120000|  NULL| 0.2857142857142857|
|277|     2021|              SE|             FT|        AI Scientist|   55000|            USD|        55000|                ES|         100|              ES|           L|         3|   3|         2|26333.333333333332| 12000|   55000|   79000|  200000| 12000|0.42857142857142855|
|391|     2022|              MI|             FT|        AI Scientist|  120000|            USD|       120000|                US|           0|              US|           M|         4|   4|         3|           49750.0| 12000|  120000|  199000|  300000| 12000| 0.5714285714285714|
|606|     2022|              MI|             FT|        AI Scientist|  200000|            USD|       200000|                IN|         100|              US|           L|         5|   5|         4|           79800.0| 12000|  200000|  399000| 1335000| 55000| 0.7142857142857143|
| 52|     2020|              EN|             FT|        AI Scientist|  300000|            DKK|        45896|                DK|          50|              DK|           S|         6|   6|         5|          116500.0| 12000|  300000|  699000|    NULL|120000| 0.8571428571428571|
|244|     2021|              EN|             FT|        AI Scientist| 1335000|            INR|        18053|                IN|         100|              AS|           S|         7|   7|         6| 290571.4285714286| 12000| 1335000| 2034000|    NULL|200000|                1.0|
|368|     2022|              EX|             FT|  Analytics Engineer|  135000|            USD|       135000|                US|         100|              US|           M|         1|   1|         1|          135000.0|135000|  135000|  135000|  184700|  NULL|               0.25|
|344|     2022|              EX|             FT|  Analytics Engineer|  175000|            USD|       175000|                US|         100|              US|           M|         2|   2|         2|          155000.0|135000|  175000|  310000|  205300|  NULL|                0.5|
|561|     2022|              SE|             FT|  Analytics Engineer|  184700|            USD|       184700|                US|           0|              US|           M|         3|   3|         3|          164900.0|135000|  184700|  494700|    NULL|135000|               0.75|
|560|     2022|              SE|             FT|  Analytics Engineer|  205300|            USD|       205300|                US|           0|              US|           M|         4|   4|         4|          175000.0|135000|  205300|  700000|    NULL|175000|                1.0|
| 82|     2021|              MI|             FT|Applied Data Scie...|   68000|            CAD|        54238|                GB|          50|              CA|           L|         1|   1|         1|           68000.0| 68000|   68000|   68000|  157000|  NULL|                0.2|
|123|     2021|              EN|             FT|Applied Data Scie...|   80000|            GBP|       110037|                GB|           0|              GB|           L|         2|   2|         2|           74000.0| 68000|   80000|  148000|  177000|  NULL|                0.4|
|509|     2022|              MI|             FT|Applied Data Scie...|  157000|            USD|       157000|                US|         100|              US|           L|         3|   3|         3|101666.66666666667| 68000|  157000|  305000|  380000| 68000|                0.6|
|525|     2022|              SE|             FT|Applied Data Scie...|  177000|            USD|       177000|                US|         100|              US|           L|         4|   4|         4|          120500.0| 68000|  177000|  482000|    NULL| 80000|                0.8|
|519|     2022|              SE|             FT|Applied Data Scie...|  380000|            USD|       380000|                US|         100|              US|           L|         5|   5|         5|          172400.0| 68000|  380000|  862000|    NULL|157000|                1.0|
|489|     2022|              EN|             CT|Applied Machine L...|   29000|            EUR|        31875|                TN|         100|              CZ|           M|         1|   1|         1|           29000.0| 29000|   29000|   29000|   75000|  NULL|               0.25|
|132|     2021|              MI|             FT|Applied Machine L...|   38400|            USD|        38400|                VN|         100|              US|           M|         2|   2|         2|           33700.0| 29000|   38400|   67400|  423000|  NULL|                0.5|
|506|     2022|              MI|             FT|Applied Machine L...|   75000|            USD|        75000|                BO|         100|              US|           L|         3|   3|         3|47466.666666666664| 29000|   75000|  142400|    NULL| 29000|               0.75|
|157|     2021|              MI|             FT|Applied Machine L...|  423000|            USD|       423000|                US|          50|              US|           L|         4|   4|         4|          141350.0| 29000|  423000|  565400|    NULL| 38400|                1.0|
|196|     2021|              EN|             FT|     BI Data Analyst|    9272|            USD|         9272|                KE|         100|              KE|           S|         1|   1|         1|            9272.0|  9272|    9272|    9272|   98000|  NULL|0.16666666666666666|
|168|     2021|              EN|             FT|     BI Data Analyst|   55000|            USD|        55000|                US|          50|              US|           S|         2|   2|         2|           32136.0|  9272|   55000|   64272|  100000|  NULL| 0.3333333333333333|
| 23|     2020|              MI|             FT|     BI Data Analyst|   98000|            USD|        98000|                US|           0|              US|           M|         3|   3|         3|54090.666666666664|  9272|   98000|  162272|  150000|  9272|                0.5|
| 76|     2021|              MI|             FT|     BI Data Analyst|  100000|            USD|       100000|                US|         100|              US|           M|         4|   4|         4|           65568.0|  9272|  100000|  262272|11000000| 55000| 0.6666666666666666|
| 73|     2021|              EX|             FT|     BI Data Analyst|  150000|            USD|       150000|                IN|         100|              US|           L|         5|   5|         5|           82454.4|  9272|  150000|  412272|    NULL| 98000| 0.8333333333333334|
|102|     2021|              MI|             FT|     BI Data Analyst|11000000|            HUF|        36259|                HU|          50|              US|           L|         6|   6|         6|1902045.3333333333|  9272|11000000|11412272|    NULL|100000|                1.0|
|255|     2021|              SE|             FT|  Big Data Architect|  125000|            CAD|        99703|                CA|          50|              CA|           M|         1|   1|         1|          125000.0|125000|  125000|  125000|    NULL|  NULL|                1.0|
|192|     2021|              MI|             FT|   Big Data Engineer|   18000|            USD|        18000|                MD|           0|              MD|           S|         1|   1|         1|           18000.0| 18000|   18000|   18000|   70000|  NULL|              0.125|
|120|     2021|              MI|             FT|   Big Data Engineer|   60000|            USD|        60000|                ES|          50|              RO|           M|         2|   2|         2|           39000.0| 18000|   60000|   78000|   85000|  NULL|               0.25|
| 31|     2020|              EN|             FT|   Big Data Engineer|   70000|            USD|        70000|                US|         100|              US|           L|         3|   3|         3|49333.333333333336| 18000|   70000|  148000|  100000| 18000|              0.375|
|  2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|         4|   4|         4|           58250.0| 18000|   85000|  233000|  435000| 60000|                0.5|
| 17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|         5|   5|         5|           66600.0| 18000|  100000|  333000| 1200000| 70000|              0.625|
|213|     2021|              EN|             FT|   Big Data Engineer|  435000|            INR|         5882|                IN|           0|              CH|           L|         6|   6|         6|          128000.0| 18000|  435000|  768000| 1672000| 85000|               0.75|
|230|     2021|              EN|             FT|   Big Data Engineer| 1200000|            INR|        16228|                IN|         100|              IN|           L|         7|   7|         7|281142.85714285716| 18000| 1200000| 1968000|    NULL|100000|              0.875|
|180|     2021|              MI|             FT|   Big Data Engineer| 1672000|            INR|        22611|                IN|           0|              IN|           L|         8|   8|         8|          455000.0| 18000| 1672000| 3640000|    NULL|435000|                1.0|
|279|     2021|              EN|             FT|Business Data Ana...|   50000|            EUR|        59102|                LU|         100|              LU|           L|         1|   1|         1|           50000.0| 50000|   50000|   50000|  100000|  NULL|                0.2|
|511|     2022|              MI|             FT|Business Data Ana...|   90000|            CAD|        70912|                CA|          50|              CA|           L|         2|   2|         2|           70000.0| 50000|   90000|  140000|  135000|  NULL|                0.4|
| 28|     2020|              EN|             CT|Business Data Ana...|  100000|            USD|       100000|                US|         100|              US|           L|         3|   3|         3|           80000.0| 50000|  100000|  240000| 1400000| 50000|                0.6|
|  8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|         4|   4|         4|           93750.0| 50000|  135000|  375000|    NULL| 90000|                0.8|
|458|     2022|              MI|             FT|Business Data Ana...| 1400000|            INR|        18442|                IN|         100|              IN|           M|         5|   5|         5|          355000.0| 50000| 1400000| 1775000|    NULL|100000|                1.0|
| 95|     2021|              MI|             FT| Cloud Data Engineer|  120000|            SGD|        89294|                SG|          50|              SG|           L|         1|   1|         1|          120000.0|120000|  120000|  120000|    NULL|  NULL|                0.5|
|149|     2021|              SE|             FT| Cloud Data Engineer|  160000|            USD|       160000|                BR|         100|              US|           S|         2|   2|         2|          140000.0|120000|  160000|  280000|    NULL|  NULL|                1.0|
|521|     2022|              EN|             FT|Computer Vision E...|   10000|            USD|        10000|                PT|         100|              LU|           M|         1|   1|         1|           10000.0| 10000|   10000|   10000|   60000|  NULL|0.16666666666666666|
|133|     2021|              SE|             FT|Computer Vision E...|   24000|            USD|        24000|                BR|         100|              BR|           M|         2|   2|         2|           17000.0| 10000|   24000|   34000|  102000|  NULL| 0.3333333333333333|
| 54|     2020|              SE|             FL|Computer Vision E...|   60000|            USD|        60000|                RU|         100|              US|           S|         3|   3|         3|31333.333333333332| 10000|   60000|   94000|  125000| 10000|                0.5|
|271|     2021|              SE|             FT|Computer Vision E...|  102000|            BRL|        18907|                BR|           0|              BR|           M|         4|   4|         4|           49000.0| 10000|  102000|  196000|  180000| 24000| 0.6666666666666666|
|454|     2022|              EN|             FT|Computer Vision E...|  125000|            USD|       125000|                US|           0|              US|           M|         5|   5|         5|           64200.0| 10000|  125000|  321000|    NULL| 60000| 0.8333333333333334|
|216|     2021|              EN|             PT|Computer Vision E...|  180000|            DKK|        28609|                DK|          50|              DK|           S|         6|   6|         6|           83500.0| 10000|  180000|  501000|    NULL|102000|                1.0|
| 98|     2021|              EN|             FT|Computer Vision S...|   70000|            USD|        70000|                US|         100|              US|           M|         1|   1|         1|           70000.0| 70000|   70000|   70000|  150000|  NULL| 0.3333333333333333|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+----------+----+----------+------------------+------+--------+--------+--------+------+-------------------+
only showing top 50 rows